div.container.main{
    margin-top: 20px;
    margin-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ticker.form-control-md{
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    margin-left: 1px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-right: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

form.input-group.mb-3{
    height: 45px;
    width: 750px;
}

label.input-group-text{
    padding-right: 10px;
    margin-right: 3px;
}

div.container.insights-main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
}

table{
    border-collapse: separate;
}

th{
    font-size: 12px;
    width: 60px;
}

td{
    font-size: 12px;
}

td.negative-dma-chg{
    color: #E83A14;
    font-weight: 500;
}

td.positive-dma-chg{
    color: #4E9F3D;
    font-weight: 500;
}

.date{
    width: 10%;
}