table.css-zuelfj.edw49t11{
    padding: 10px;
    font-size: 0.9em;
}

td.css-4sszyo.edw49t12{
    padding: 10px;
}

th.col_heading.level0.col1.css-c34i5s.edw49t13{
    padding: 10px;
}

div.css-1r6slb0.e1tzin5v2{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #71DFE7;
    border-radius: 5px;
}

.nav-link.active {
    background-color: yellow;
}